<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_nurse"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_nurse2"
        android:supportsRtl="true"
        android:theme="@style/Theme.RuslyAplikasiPengetahuanDasarHIVDanAIDS"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.admin.AdminPertanyaanOtomatisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminInformasiHivAidsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminKonselorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminSemuaDokterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminSemuaUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminSemuaDokterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminSemuaUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.dokter.DokterMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.dokter.DokterHalamanDokterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.dokter.Dokter"
            android:exported="false" />

        <service
            android:name=".data.database.firebase.FirebaseMessage"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.TentangAplikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.InformasiHivAidsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.UpdateAkunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.KonsultasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegistrasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.MainActivity"
            android:exported="true" />
    </application>

</manifest>